<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Mi Propuesta</title>
    <meta name="title" content="Titulo de la página: entre 55 caracteres">
    <meta name="description" content="La descripción: entre 155 caracteres">
    <meta name="keywords" content="Keywords: entre 5 palabras o frases clave">
    <meta name="author" content="autor de la pagina">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="language" content="es">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" href="../Complementos/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../Complementos/css/jpnj.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="Logged home main">
  	<!--[if lt IE 8]>
    	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container interfaz">
        <nav class="navbar navbar-default cabecera">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo" href="#">JAPANAJA</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse mainNav" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="">Quiero efectivo</a></li>
                        <li><a href="">Quiero ahorrar</a></li>
                        <li><a href="#">Nosotros <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="notLogged"><a href="#" class="iniciar" data-toggle="modal" data-target="#ModalInicioSesion">iniciar sesión</a></li>
                        <li class="notLogged"><a href="#" class="registrar" data-toggle="modal" data-target="#ModalRegistro">regístrate</a></li>
                        <li class="dropdown Logged">
                            <a href="#" class="dropdown-toggle mensajes" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">mensajes 
                                <span class="sinleer">88</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Mis propuestas</a></li>
                                <li><a href="#">Mis opciones</a></li>
                                <li><a href="#">Configuración</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Cerrar sesión</a></li>
                            </ul>
                        </li>
                        <li class="Logged"><a href="#" class="alertas">alertas <span class="sinleer">1</span></a></li>
                        <li class="Logged">
                            <a href="#" class="usuario">
                                <figure>
                                    <img src="imagenes/avatars/avatar.png" alt="">
                                </figure>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <section class="main-internal-page cash">
            <div class="row nopad">
                <div class="col-sm-12 white-card">
                    <div class="steps3">
                        <div class="row">
                            <div class="col-sm-4 step done">
                                <p>1. Haz tu propuesta sobre un recibo</p>
                            </div>
                            <div class="col-sm-4 step done">
                                <p>2. Espera que acepten tu propuesta</p>
                            </div>
                            <div class="col-sm-4 step current">
                                <p>3. Paga el recibo y recibe tu efectivo a cambio</p>
                            </div>
                        </div>
                    </div>
                    <div class="step-content">
                        <h1>Paso 3</h1>
                        <h2>Paga el recibo</h2>
                        <p>Ya tenemos en nuestras cuentas de Japanajá el depósito de tu efectivo por parte de <%= Nombre%> (dueño del recibo). Este efectivo te será entregado luego de que pagues su recibo.</p>
                        <p>Por favor procede a realizar el pago del <%= Servicio %> - <%= NomSer %> con código de suministro <%= CodSum %> por el monto de S/ <%= Monto %>.</p>
                        <p>Luego de realizar el pago, adjunta una foto del voucher de pago a constancia del pago y luego haz clic en el botón "ya pagué el recibo"</p>

                        <% if(SI=='N'){%>
                        <form action=""> 
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-group">
                                        <label class="input-group-btn">
                                            <span class="btn btn-primary">
                                                agrega foto del voucher&hellip; <input name="foto" type="file" style="display: none;" >
                                            </span>
                                        </label>
                                        <input type="text" class="form-control tf" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <input type="button" class="btn" value="ya pegué el recibo" data-toggle="modal" data-target="#ModalRegistro" onclick="subir(<%= IdP %>);">
                                </div>
                            </div>
                        </form>
                        <%} else if(SI=='C'){%>

                      <center><span>Usted a completa de enviar su foto del recibo</span></center>
                        <%}%>


                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container interfaz">
        <section class="contactanos">
            <div class="copy">
                <h1>
                    ¿Tienes alguna duda adicional?
                </h1>
                <p>Si todavía tienes dudas, envíanos un mensaje a nuestro Facebook con tu consulta y te responderemos al instante, <a href="">clic aquí</a></p>
            </div>
        </section>
    </div>
    <footer class="container pie">
        <section>
            <ul>
                <li><a href="">Términos y condiciones</a></li>
                <li><a href="">Política de privacidad</a></li>
                <li><a href="">Libro de Reclamaciones</a></li>
            </ul>
            <ul class="sociales">
                <li><a href="#" class="face">Facebook</a></li>
                <li><a href="#" class="linked">LinkedIn</a></li>
                <li><a href="#" class="twitter">Twitter</a></li>
            </ul>
        </section>
    </footer>
 
 <div class="modal fade modal-ok" id="ModalRegistro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">¡Muchas gracias!</h4>
      </div>
      <div class="modal-body center">
        <p>Vamos a verificar que el pago del recibo se haya efectuado correctamente, si la verificación es positiva recibirás un correo indicando que ya te depositamos el efectivo en la cuenta indicada.</p>
        <form action="">
            <input type="button" value="ok">
        </form>
        </div>
        <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../Complementos/js/bootstrap.js"></script>
    <script>
        //contador
        $('.count').each(function () {
            $(this).prop('Counter',0).animate({
                Counter: $(this).text()
            }, {
                duration: 4000,
                easing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
            });
        });
    </script>
    <script>
        //videoPlayback
        var myVideo = document.getElementById("video"); 
        function playPause() { 
            if (myVideo.paused) 
                myVideo.play(); 
            else 
                myVideo.pause(); 
        } 
    </script>
    <script type="text/javascript" src="../Complementos/js/Japanaja-Ppaso3.js"></script>
  </body>
  
</html>